<h2 class="text-muted">Assessments <small> - List of assessments</small></h2>
<hr>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Assessment Name</th>
                <th>Learners Completed (Set)</th>
                <th>Area</th>
                <th>Assessment Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Reading Adaptive 1</td>
                <td>0 (2)</td>
                <td>Reading</td>
                <td>Adaptive</td>
            </tr>
            <tr>
                <td>New Reading Assessment</td>
                <td>0 (3)</td>
                <td>Reading</td>
                <td>Adaptive</td>
            </tr>
            <tr>
                <td>Another Reading Assessment</td>
                <td>1 (3)</td>
                <td>Reading</td>
                <td>Non-Adaptive</td>
            </tr>
            <tr>
                <td>Reading Snapshot 1</td>
                <td>2 (24)</td>
                <td>Reading</td>
                <td>Snapshot</td>
            </tr>
            <tr>
                <td>Reading Adaptive 3</td>
                <td>0 (2)</td>
                <td>Reading</td>
                <td>Adaptive</td>
            </tr>
            <tr>
                <td>Reading Adaptive 6</td>
                <td>10 (2)</td>
                <td>Reading</td>
                <td>Adaptive</td>
            </tr>
            <tr>
                <td>Reading Adaptive 11</td>
                <td>5 (2)</td>
                <td>Reading</td>
                <td>Adaptive</td>
            </tr>
        </tbody>
    </table>
</div>