<h2 class="text-muted">Toolbox <small> - All your HTML requirements under one shed</small></h2>
<hr>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Component Name</th>
                <th>Sample</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tables</td>
                <td>
                    <a [routerLink]="['../tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-table"></i> Tables
                    </a>
                </td>
            </tr>
            <tr>
                <td>Forms</td>
                <td>
                    <a [routerLink]="['../forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-edit"></i> Forms
                    </a>
                </td>
            </tr>
            <tr>
                <td>Bootstrap Elements</td>
                <td>
                    <a [routerLink]="['../element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-desktop"></i> Bootstrap Elements
                    </a>
                </td>
            </tr>
            <tr>
                <td>Bootstrap Grid</td>
                <td>
                    <a [routerLink]="['../grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-wrench"></i> Bootstrap Grid
                    </a>
                </td>
            </tr>
            <tr>
                <td>Components</td>
                <td>
                    <a [routerLink]="['../components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-th-list"></i> &nbsp;Component
                    </a>
                </td>
            </tr>
            <tr>
                <td>BlankPage</td>
                <td>
                    <a [routerLink]="['../blankpage']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-file-o"></i> &nbsp;BlankPage
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>